// Box model reset
* {
	margin: 0;
	padding: 0;
    outline: none;
}

// Base Style
$body-bg: $san-marino;
$body-color: $shark;
$body-font: $font;
$body-size: 100%;

$app-bg: $porcelain-1;

body {
    // Layout
    display: flex;
    // Theme
    background: $body-bg;
    color: $body-color;
    font-family: $body-font;
	font-size: $body-size;
	text-size-adjust: 100%;

	#app {
		// Layout
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		// Theme
		background-color: $app-bg;
	}

	abbr {
		text-decoration: none;
	}
}
