// Box model reset
* {
	margin: 0;
	padding: 0;
    outline: none;
}

// Base Style
$body-bg: $mine-shaft;
$body-color: $mine-shaft;
$body-font: 'Montserrat', sans-serif;
$body-size: 100%;

body {
    // Layout
    display: flex;
    // Theme
    background: $body-bg;
    color: $body-color;
    font-family: $body-font;
	font-size: $body-size;

	abbr {
		text-decoration: none;
	}
}
