// Colors
$carnation: #f05353;
$cod-gray: #141414;
$dove-gray: #707070;
$mine-shaft: #1f1f1f;
$white: #ffffff;

// Font Sizes & Weights
$heading: 1.5rem;
$heading-weight: 300;
$sub-heading: 1.125rem;
$sub-heading-weight: 300;
$label: 1rem;
$label-weight: 300;
$content: 1rem;
$content-weight: 400;

// Borders
$border-carnation: 0.0625rem solid $carnation;
$border-dove-gray: 0.0625rem solid $dove-gray;
$border-white: 0.0625rem solid $white;
$border-radius: 0.25rem;

// Spacing
$xxs-space: 0.0625rem;
$xs-space: 0.25rem;
$s-space: 0.5rem;
$m-space: 1rem;
$l-space: 1.5rem;
$xl-space: 3rem;
$xxl-space: 4rem;

// Animation
$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
