// Colors
$mine-shaft: #1f1f1f;
$outer-space: #263238;
$pale-sky: #6e7e87;
$porcelain: #e9ebed;
$san-marino: #3f51b5;
$white: #ffffff;

// Font Sizes & Weights
$heading: 1.5rem;
$heading-weight: 400;
$sub-heading: 1.125rem;
$sub-heading-weight: 300;
$label: 1rem;
$label-weight: 300;
$content: 1rem;
$content-weight: 400;

// Borders
$border-san-marino: 0.0625rem solid $san-marino;
$border-pale-sky: 0.0625rem solid $pale-sky;
$border-outer-space: 0.0625rem solid $outer-space;
$border-radius: 0.25rem;

// Spacing
$xxs-space: 0.0625rem;
$xs-space: 0.25rem;
$s-space: 0.5rem;
$m-space: 1rem;
$l-space: 2rem;
$xl-space: 3rem;
$xxl-space: 4rem;

// Animation
$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-in: 150ms;
$transition-out: 200ms;
