/* CSS Document */

/* General Styles */
body {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px; background: url(images/siteBG.jpg); color: #000; padding: 0; margin: 0; text-align: left; height: 100%;}
.clear {clear: left; clear: right; clear:both;} 
.left {float: left; display: inline;}
.right {float: right; display: inline;}
.decimal {text-align:right}
.blue {font-weight: bold; color: #365472;}


/* Page Elements */
img {margin: 0; padding: 0;}
h1, h2, h3 {margin: 0;}
h2 {font-weight: bold; font-size: 18px; color: #365472; margin-bottom: 15px;}
h1 span {display:none;}
p {padding:0; margin: 0 10px 15px 0; text-align: left;}
div {padding: 0; margin: 0;}
a {text-decoration: none; outline: none; font-weight: bold; color: #365472;}
a img {border: none;}
address {font-style: normal;}
ul {margin: 0;}
address {display: inline;}


/* Template Style */
#wrapper {width: 775px; margin: 0 auto; background-color: #365472; border-left: 3px solid #000; border-right: 3px solid #000;}

.navigation {background-color: #859aad; padding: 5px 15px; border-top: 1px solid #365472; border-bottom: 1px solid #365472;}
.navigation  li {display: inline; margin: 0 35px 0 0;}
.navigation  li a {color: #fff;}
.navigation  li a:hover {text-decoration: underline;}

/* Header */
#headerLogo {width: 775px; height: 200px;}
#headerLogo h1 {background: url(images/headerLogo.jpg) top left no-repeat; width: 775px; height: 200px; margin: 0;}


/* Content */
#contentBody {background-color: #fff; padding: 15px;}
.contentHeader, .contentTitle {font-weight: bold; font-size: 12px;}
.contentHeader {text-decoration: underline;}
.servicesList dt {font-weight: bold; text-decoration: underline; margin: 5px 0;}
.servicesList dd {margin-left: 15px; list-style: square;}
.imgLeft {float: left; margin: 0 10px 5px 0;}
.imgRight {float: right; margin: 0 0 5px 10px;}

/* Contact Footer */
#contactFooter  p, #contactFooter  label, #contactFooter  address {font-weight: bold; font-size: 16px;}
#contactFooter img {float: left; margin-right: 10px;}
 
/* Footer */
#footer {padding-bottom: 10px;}
#footer ul {border-bottom: none; margin-bottom: 10px;}
#footer p {text-align: center; margin: 0 0 5px 0; color: #fff;}


/* Page Styles */

