$ContentBlock-label-margin-top: $m-space;
$ContentBlock-label-color: $white;
$ContentBlock-label-margin-bottom: $s-space;
$ContentBlock-label-size: $label;
$ContentBlock-label-weight: $label-weight;

$ContentBlock-item-color: $white;
$ContentBlock-item-margin-right: $s-space;
$ContentBlock-item-size: $content;
$ContentBlock-item-weight: $content-weight;

$ContentBlock-text-color: $white;
$ContentBlock-text-size: $content;
$ContentBlock-text-weight: $content-weight;

.ContentBlock {
    display: flex;
    flex-direction: column;

    & + & {
        margin-top: $ContentBlock-label-margin-top;
    }
    &-label {
        // Layout
        font-size: $ContentBlock-label-size;
        margin-bottom: $ContentBlock-label-margin-bottom;
        // Theme
        color: $ContentBlock-label-color;
        font-weight: $ContentBlock-label-weight;
    }
    // Content block with a list
    &-item {
        // Layout
        display: inline-block;
        font-size: $ContentBlock-item-size;
        //margin-right: $ContentBlock-item-margin-right;
        // Theme
        color: $ContentBlock-item-color;
        font-weight: $ContentBlock-item-weight;

        &:after {
            content: ",\00a0";
        }
        &:last-child:after {
            content: "";
        }
    }
    // Content block with text
    &-text {
        // Layout
        font-size: $ContentBlock-text-size;
        // Theme
        color: $ContentBlock-text-color;
        font-weight: $ContentBlock-text-weight;
    }
}
