$Skills-margin-bottom: $xxl-space;

$Skills-header-color: $carnation;
$Skills-header-margin-bottom: $xl-space;
$Skills-header-size: $heading;
$Skills-header-weight: $heading-weight;

$Skills-group-padding: $xxl-space;

$Skills-subHeader-border: $border;
$Skills-subHeader-color: $dove-gray;
$Skills-subHeader-margin-bottom: $m-space;
$Skills-subHeader-padding-bottom: $xs-space;
$Skills-subHeader-size: $sub-heading;
$Skills-subHeader-weight: $sub-heading-weight;

.Skills {
    display: flex;
    flex-direction: column;
    margin-bottom: $Skills-margin-bottom;

    &-header {
        // Layout
        font-size: $Skills-header-size;
        margin-bottom: $Skills-header-margin-bottom;
        // Theme
        color: $Skills-header-color;
        font-weight: $Skills-header-weight;
    }
    &-content {
        display: flex;
        flex-direction: row;
    }
    &-groupWrapper {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 50%;
        max-width: 50%;

        &:nth-child(even) {
            .Skills-group {
                padding-left: $Skills-group-padding;
            }
        }
        &:nth-child(odd) {
            .Skills-group {
                padding-right: $Skills-group-padding;
            }
        }
    }
    &-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &-subHeader {
        // Layout
        border-bottom: $Skills-subHeader-border;
        font-size: $Skills-subHeader-size;
        margin-bottom: $Skills-subHeader-margin-bottom;
        padding-bottom: $Skills-subHeader-padding-bottom;
        // Theme
        color: $Skills-subHeader-color;
        font-weight: $Skills-subHeader-weight;
    }
}
