$Anchor: ".Anchor";
$Anchor-bg: transparent;
$Anchor-bg-hover: $white;
$Anchor-cubic-bezier: $cubic-bezier;
$Anchor-min-height: 4rem;
$Anchor-padding: 0 $l-space;
$Anchor-transition-in: $transition-in;
$Anchor-transition-out: $transition-out;

$Anchor-icon-margin-right: $m-space;
$Anchor-icon-fill: $white;
$Anchor-icon-fill-hover: $san-marino;
$Anchor-icon-stroke: $white;
$Anchor-icon-stroke-hover: $san-marino;

$Anchor-text-color: $white;
$Anchor-text-color-hover: $san-marino;
$Anchor-text-size: $sub-heading;
$Anchor-text-weight: 400;

.Anchor {
    // Layout
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-height: $Anchor-min-height;
    // Theme
    background-color: $Anchor-bg;
    text-decoration: none;
    transition: background $Anchor-transition-out $Anchor-cubic-bezier;

    &-icon {
        margin-right: $Anchor-icon-margin-right;

        path {
            stroke: $Anchor-icon-stroke;
            transition: stroke $Anchor-transition-out $Anchor-cubic-bezier;
        }
    }
    &-text {
        // Layout
        font-size: $Anchor-text-size;
        // Theme
        color: $Anchor-text-color;
        font-weight: $Anchor-text-weight;
        transition: color $Anchor-transition-out $Anchor-cubic-bezier;
    }
    &:hover, &:focus {
        background-color: $Anchor-bg-hover;
        transition: background $Anchor-transition-in $Anchor-cubic-bezier;

        #{$Anchor}-icon path {
            stroke: $Anchor-icon-stroke-hover;
            transition: stroke $Anchor-transition-in $Anchor-cubic-bezier;
        }
        #{$Anchor}-text {
            color: $Anchor-text-color-hover;
            transition: color $Anchor-transition-in $Anchor-cubic-bezier;
        }
    }
    &--fillIcon {
        #{$Anchor}-icon path {
            fill: $Anchor-icon-fill;
            //stroke: none;
            transition: fill $Anchor-transition-out $Anchor-cubic-bezier;
        }
        &:hover, &:focus {
            #{$Anchor}-icon path {
                fill: $Anchor-icon-fill-hover;
                //stroke: none;
                transition: fill $Anchor-transition-in $Anchor-cubic-bezier;
            }
        }
    }
}

@media (min-width: $m-break) {
    .Anchor {
        padding: $Anchor-padding;
    }
}
