$Anchor: ".Anchor";
$Anchor-bg: transparent;
$Anchor-bg-hover: $san-marino;
$Anchor-border-raidus: $border-radius;
$Anchor-cubic-bezier: $cubic-bezier;
$Anchor-padding: $s-space $m-space;
$Anchor-transition-in: $transition-in;
$Anchor-transition-out: $transition-out;

$Anchor-icon-fill: $san-marino;
$Anchor-icon-fill-hover: $white;
$Anchor-icon-stroke: $san-marino;
$Anchor-icon-stroke-hover: $white;

$Anchor-text-color: $san-marino;
$Anchor-text-color-hover: $white;
$Anchor-text-margin-right: $m-space;
$Anchor-text-size: $sub-heading;
$Anchor-text-weight: 300;

.Anchor {
    // Layout
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding: $Anchor-padding;
    // Theme
    background-color: $Anchor-bg;
    border-radius: $Anchor-border-raidus;
    text-decoration: none;
    transition: background $Anchor-transition-out $Anchor-cubic-bezier;

    &-icon {
        // Layout
        position: relative;
        // Theme
        transition: all $Anchor-transition-out $Anchor-cubic-bezier;

        path, polyline {
            stroke: $Anchor-icon-stroke;
            transition: stroke $Anchor-transition-out $Anchor-cubic-bezier;
        }
    }
    &-text {
        // Layout
        font-size: $Anchor-text-size;
        margin-right: $Anchor-text-margin-right;
        // Theme
        color: $Anchor-text-color;
        font-weight: $Anchor-text-weight;
        transition: color $Anchor-transition-out $Anchor-cubic-bezier;
    }
    &:hover, &:focus {
        background-color: $Anchor-bg-hover;
        transition: background $Anchor-transition-in $Anchor-cubic-bezier;

        #{$Anchor}-icon {
            left: $xs-space;
            transition: all $Anchor-transition-in $Anchor-cubic-bezier;
        }
        #{$Anchor}-icon path, #{$Anchor}-icon polyline {
            stroke: $Anchor-icon-stroke-hover;
            transition: stroke $Anchor-transition-in $Anchor-cubic-bezier;
        }
        #{$Anchor}-text {
            color: $Anchor-text-color-hover;
            transition: color $Anchor-transition-in $Anchor-cubic-bezier;
        }
    }
    &--reverse {
        flex-direction: row-reverse;

        #{$Anchor}-icon {
            transform: rotate(180deg);
        }
        #{$Anchor}-text {
            margin: 0 0 0 $Anchor-text-margin-right; // Re-using the default variable
        }

        &:hover, &:focus {
            #{$Anchor}-icon {
                left: auto;
                right: $xs-space;
            }
        }
    }
}
