$Button: ".Button";
$Button-bg: transparent;
$Button-bg-hover: $san-marino;
$Button-border: $border-san-marino;
$Button-border-hover: $border-san-marino;
$Button-border-raidus: $border-radius;
$Button-cubic-bezier: $cubic-bezier;
$Button-padding: $m-space $l-space;
$Button-transition-in: $transition-in;
$Button-transition-out: $transition-out;

$Button-icon-margin-right: $m-space;
$Button-icon-padding-top: $xs-space;
$Button-icon-stroke: $san-marino;
$Button-icon-stroke-hover: $white;

$Button-text-color: $san-marino;
$Button-text-color-hover: $white;
$Button-text-size: $sub-heading;
$Button-text-weight: 300;

.Button {
    // Layout
    align-items: center;
    border: $Button-border;
    display: flex;
    flex-grow: 0;
    padding: $Button-padding;
    // Theme
    background-color: $Button-bg;
    border-radius: $Button-border-raidus;
    transition: all $Button-transition-out $Button-cubic-bezier;

    &-icon {
        margin-right: $Button-icon-margin-right;
        padding-top: $Button-icon-padding-top;

        path, polyline {
            stroke: $Button-icon-stroke;
            transition: stroke $Button-transition-out $Button-cubic-bezier;
        }
    }
    &-text {
        color: $Button-text-color;
        font-size: $Button-text-size;
        font-weight: $Button-text-weight;
        transition: color $Button-transition-out $Button-cubic-bezier;
    }
    &:hover, &:focus {
        background-color: $Button-bg-hover;
        border: $Button-border-hover;
        transition: all $Button-transition-in $Button-cubic-bezier;

        #{$Button}-icon path, #{$Button}-icon polyline {
            stroke: $Button-icon-stroke-hover;
            transition: stroke $Button-transition-in $Button-cubic-bezier;
        }
        #{$Button}-text {
            color: $Button-text-color-hover;
            transition: color $Button-transition-in $Button-cubic-bezier;
        }
    }
}
