$ContentGroup: ".ContentGroup";
$ContentGroup-margin-top: $l-space;

$ContentGroup--half-margin: 1.5rem;

$ContentGroup-subHeader-border: $border-regent-gray;
$ContentGroup-subHeader-color: $shuttle-gray;
$ContentGroup-subHeader-margin-bottom: $m-space;
$ContentGroup-subHeader-padding-bottom: $xs-space;
$ContentGroup-subHeader-size: $sub-heading;
$ContentGroup-subHeader-weight: $sub-heading-weight;

$ContentGroup-small-padding-left: 1.5rem;
$ContentGroup-small-size: 1rem;

$ContentGroup-contentBlockWrapper-margin-bottom: $m-space;

.ContentGroup {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & + & {
        margin-top: $ContentGroup-margin-top;
    }
    &-subHeader {
        // Layout
        display: flex;
        align-items: baseline;
        border-bottom: $ContentGroup-subHeader-border;
        font-size: $ContentGroup-subHeader-size;
        margin-bottom: $ContentGroup-subHeader-margin-bottom;
        padding-bottom: $ContentGroup-subHeader-padding-bottom;
        // Theme
        color: $ContentGroup-subHeader-color;
        font-weight: $ContentGroup-subHeader-weight;

        #{$ContentGroup}-subHeaderText {
            flex-grow: 1;
        }
    }
    &-small {
        flex-grow: 1;
        padding-left: $ContentGroup-small-padding-left;
        font-size: $ContentGroup-small-size;
    }
}

@media (min-width: $m-break) {
    .ContentGroup {
        & + & {
            margin-top: $xl-space;
        }
        &-column {
            display: flex;
            flex-direction: column;
        }
        &-row {
            display: flex;
            flex-direction: row;
        }
        &-subHeader {
            margin-bottom: calc(#{$ContentGroup-subHeader-margin-bottom} * 1.5);
        }
        &--half {
            margin: 0 $ContentGroup--half-margin 0 0;
            width: calc(50% - #{$ContentGroup--half-margin});

            & + & {
                margin: 0 0 0 $ContentGroup--half-margin;
            }
        }
    }
}
