$Header-margin: $l-space;
$Header-padding: $m-space;

$Header-logo-margin-bottom: $s-space;

$Header-subHeading-color: $outer-space;
$Header-subHeading-size: $sub-heading;

.Header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: $Header-margin 0;
    padding: 0 $Header-padding;

    &-logo {
        margin-bottom: $Header-logo-margin-bottom;
    }
    &-subHeading {
        // Layout
        font-size: $Header-subHeading-size;
        // Theme
        color: $Header-subHeading-color;
        font-weight: 300;
        text-align: center;
    }
}

@media (min-width: $m-break) {
    .Header {
		margin: calc(#{$Header-margin} * 2) 0;
        padding: 0;
    }
}
