$Portfolio-bg: $porcelain;

#Portfolio {
	// Layout
	display: flex;
	flex-direction: column;
    flex-grow: 1;
    justify-content: center;

	// Theme
	background-color: $Portfolio-bg;

	&-wrapper {
		display: flex;
	    flex-direction: column;
		flex-grow: 1;
	}
}
