$Section-margin-top: $l-space;

$Section--work-bg: $porcelain-2;
$Section--work-padding: $l-space;

$Section-wrapper-l-width: 66vw;
$Section-wrapper-m-width: 75vw;
$Section-wrapper-padding: 0 $m-space;

$Section-header-color: $san-marino;
$Section-header-margin-bottom: $m-space;
$Section-header-size: $heading;
$Section-header-weight: $heading-weight;

$Section--skills-contentGroupWrapper-padding: $xxl-space;

.Section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    & + & {
        margin-top: $Section-margin-top;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        padding: $Section-wrapper-padding;
    }
    &-header {
        // Layout
        font-size: $Section-header-size;
        margin-bottom: $Section-header-margin-bottom;
        // Theme
        color: $Section-header-color;
        font-weight: $Section-header-weight;
    }
    &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &--work {
        // Layout
        padding: $Section--work-padding 0;
        // Theme
        background-color: $Section--work-bg;
    }
}

@media (min-width: $m-break) {
    .Section {
        & + & {
            margin-top: calc(#{$Section-margin-top} * 1.5);
        }
        &-wrapper {
            padding: 0;
            width: $Section-wrapper-m-width;
        }
        &-header {
            margin-bottom: calc(#{$Section-header-margin-bottom} * 1.5);
        }
        &--work {
            padding: calc(#{$Section--work-padding} * 1.5) 0;
        }
    }
}
@media (min-width: $l-break) {
    .Section {
        &-wrapper {
            width: $Section-wrapper-l-width;
        }
    }
}
