$Section-margin-top: $xxl-space;

$Section-header-color: $san-marino;
$Section-header-margin-bottom: $xl-space;
$Section-header-size: $heading;
$Section-header-weight: $heading-weight;

$Section--skills-contentGroupWrapper-padding: $xxl-space;

.Section {
    display: flex;
    flex-direction: column;

    & + & {
        margin-top: $Section-margin-top;
    }
    &-header {
        // Layout
        font-size: $Section-header-size;
        margin-bottom: $Section-header-margin-bottom;
        // Theme
        color: $Section-header-color;
        font-weight: $Section-header-weight;
    }
    &-content {
        display: flex;
        flex-direction: column;
    }
    &--skills {
        .Section-content {
            flex-direction: row;
        }
        .Section-contentGroupWrapper {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            min-width: 50%;
            max-width: 50%;

            &:nth-child(even) {
                .ContentGroup {
                    padding-left: $Section--skills-contentGroupWrapper-padding;
                }
            }
            &:nth-child(odd) {
                .ContentGroup {
                    padding-right: $Section--skills-contentGroupWrapper-padding;
                }
            }
        }
    }
    &--downloadResume {
        flex-direction: row;
    }
}
