// Colors
$carnation: #f05353;
$cod-gray: #141414;
$dove-gray: #707070;
$mine-shaft: #1f1f1f;
$white: #ffffff;

// Font Sizes
$heading: 1.5rem;
$sub-heading: 1.125rem;
$content: 1rem;

// Spacing
$s-space: 0.5rem;
$m-space: 1rem;
$l-space: 2rem;
$xl-space: 3rem;
$xxl-space: 4rem;
